.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    color: @darkText;
    list-style: none;
    font-family: @manrope;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 26px 0 19px;

    &__item {
        line-height: 1.2;

        &:not(:last-of-type) {
            position: relative;
            margin-right: 25px;
            
            &:after {
                content: '';
                position: absolute;
                top: 6px;
                left: calc(100% + 9px);
                width: 8px;
                height: 1px;
                background-color: @darkText;
            }
        }
    }

    &_absolute {
        position: absolute;
        z-index: 2;
    }

    &_white {
        color: @white;

        .breadcrumbs__item {
            &:not(:last-of-type) {                
                &:after {
                    background-color: @white;
                }
            }
        }
    }
}