//
// Variables
// --------------------------------------------------


//== Colors
@darkBlue: #002053;
@white: #ffffff;
@violet: #9a61a5;
@black: #000000;
@gray: #f0f2f8;
@darkText: #201e23;
// =================================================================================================
