.object-list {
    margin-top: 36px;
    max-width: 400px;
    padding-right: 40px;
    max-height: 444px;
    overflow: auto;
    padding-bottom: 36px;

    &::-webkit-scrollbar {
        display: none;
    }

    &__item {
        position: relative;
        border-top: 1px solid #dadce2;

        &.current {
            .object-list__name {
                color: @violet;
                text-shadow: 1px 0px 0 rgba(154, 97, 165, 0.5), 1px 1px 0 rgba(154, 97, 165, 0.5), 0px 1px 0 rgba(154, 97, 165, 0.5), 0px 0px 0 rgba(154, 97, 165, 0.5);
                letter-spacing: 0.5px;
            }

            .object-list__arrow {
                opacity: 1;
            }
        }
    }

    &__toggle {
        padding: 22px 0 24px;
        cursor: pointer;
    }

    &__name {
        color: @darkText;
        font-family: @manrope;
        font-weight: 300;
        font-size: 13px;
        position: relative;
        margin: 0;
        padding-left: 37px;
        transition: 0.3s;

        .count {
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            font-family: @manrope;
            font-size: 10px;
            font-weight: 700;
            background-color: @violet;
            color: @white;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            display: block;
            position: absolute;
            left: 0;
            top: -3px;
        }
    }

    &__arrow {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 8px;
        opacity: 0;
        transition: 0.3s;

        img {
            width: 26px;
            display: block;
        }

        svg {
            display: none;
        }
    }

    &__content {
        display: none;
        padding: 19px 40px 49px;

        &__wrap {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .object-list__img {
            width: 100%;
    
            img {
                max-width: 100%;
            }
        }
    
        .object-list__link {
            background-color: @violet;
            color: @white;
            z-index: 2;
            font-family: @manrope;
            font-size: 15px;
            font-weight: 700;
            border-radius: 20px;
            padding: 13px 18px;
            margin-top: 20px;
        }
    }

    
}

.object-list-page {
    position: relative;

    .wrapper {
        position: relative;
    }

    .object-list-btn {
        position: absolute;
        right: 15px;
        bottom: 40px;
        background-color: @violet;
        color: @white;
        z-index: 2;
        font-family: @manrope;
        font-size: 15px;
        font-weight: 700;
        border-radius: 20px;
        padding: 13px 18px;
    }
}

.object-list-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 61.5%;
    max-width: 1100px;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.object-detail {
   
    &__img {
        position: relative;
        height: 599px;

        &:after {
            content: '';
            background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50196) 100%);
            width: 100%;
            height: 120px;
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
        }
        
          
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        .wrapper {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        position: absolute;
        left: 15px;
        bottom: 52px;
        font-family: @manrope;
        font-weight: 600;
        font-size: 70px;
        color: @darkText;

        span {  
            background-color: rgba(255, 255, 255, 0.8);
            position: relative;
            line-height: 1.45;
            padding: 0 3px;
        }
    }

    .parameters {
        color: @darkText;
        padding: 60px 0;
        background-color: @white;

        &__wrap {
            display: flex;
            align-items: flex-start;
        }

        &__map {
            box-shadow: 0px 0px 20px 0px rgba(154, 96, 164, 0.2);
            width: 40%;
            height: 470px;
            border: 10px solid @white;

            .ymaps-2-1-78-ground-pane {
                filter: grayscale(1);
            }
        }

        &__list {
            width: 60%;
            font-family: @manrope;
            padding-left: 84px;

            &-item {
                font-size: 15px;
                display: flex;
                padding: 20px 0;

                &:not(:first-of-type) {
                    border-top: 1px solid #dadce2;
                }

                .label {
                    font-weight: 700;
                    min-width: 300px;
                    line-height: 1.3;
                }

                .value {
                    font-weight: 400;
                    line-height: 1.3;
                }
            }
        }
    }

    .about {
        background-color: @gray;
        color: @darkText;
        padding: 59px 0 70px;

        &__title {
            font-family: @ibm;
            font-weight: 500;
            margin: 0 0 30px;
            font-size: 40px;
        }

        .wysiwyg {
            padding: 0;
            max-width: 970px;

            ul,
            ol,
            p {
                line-height: 1.8;
            }
        }
    }

    &__pag {
        background-color: @white;
    }
}

@media screen and (max-width: 1600px) {
    .object-list-image {
        width: 62.5%;
    }
}

@media screen and (max-width: 1500px) {
    .object-list-image {
        width: 63.5%;
    }
}

@media screen and (max-width: 1400px) {
    .object-list-image {
        width: 64.5%;
    }
}

@media screen and (max-width: 1300px) {
    .object-list-image {
        width: 65.5%;
    }
}

@media screen and (max-width: 1200px) {    
    .object-list-image {
        width: calc(100% - 415px);
    }
}

@media screen and (max-width: 992px) {
    .object-list {
        max-width: none;
        max-height: 100%;
        padding-right: 0;

        &__toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 0 15px;

            &.active {
                .object-list__name {
                    color: @violet;
                }
    
                .object-list__arrow {
                    transform: rotate(-90deg);
                }
            }
        }

        &__name {
            color: @darkText;
            position: relative;
            font-weight: 600;
            font-size: 15px;
            padding-right: 20px;
            margin: 0;
            padding-left: 37px;

            .count {
                top: -2px;
            }
        }

        &__arrow {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            border-radius: 100px;
            background-color: @violet;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
            transition: 0.3s;
            opacity: 1;
            position: static;
            margin: 0;
           

            img {
                display: none;
            }

            svg {
                display: block;
            }
        }
    }

    .object-list-page {
        .object-list-btn { 
            display: none;
        }
    }

    .object-list-image {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .object-list {
        &__content {
            .object-list__link {
                font-size: 12px;
            }
        }
    }
}