.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;

    &__wrap {
        display: flex;
        align-items: flex-start;
        padding: 24px 0;
    }

    .logo {
        max-width: 120px;
    }

    &__menu {
        display: flex;
        list-style: none;
        margin: 14px 114px 0 auto;
        padding: 0;
        font-family: @manrope;
        font-weight: 600;
        font-size: 16px;

        &-item {
            &:not(:last-of-type) {
                margin-right: 74px;
            }
        }
    }

    &__phone {
        font-size: 16px;
        font-weight: 600;
        font-family: @manrope;
        margin-top: 18px;
    }
}