.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;

    &__wrap {
        display: flex;
        align-items: flex-start;
        padding: 24px 0;
    }

    .logo {
        max-width: 120px;

        &.opacity {
            opacity: 0.5;
        }
    }

    &__menu {
        display: flex;
        list-style: none;
        margin: 14px 114px 0 auto;
        padding: 0;
        font-family: @manrope;
        font-weight: 600;
        font-size: 16px;

        &-item {
            &:not(:last-of-type) {
                margin-right: 74px;
            }
        }

        a {
            position: relative;
            z-index: 2;
            transition: 0.3s;

            &:before {
                content: '';
                position: absolute;
                top: -3px;
                left: -12px;
                width: 100%;
                height: 100%;
                background-color: @violet;
                z-index: -1;
                border-top-left-radius: 0;
                border-bottom-right-radius: 0;
                width: calc(100% + 25px);
                height: calc(100% + 7px);
                pointer-events: none;
                opacity: 0;
                transition: 0.3s;
            }

            &:hover {
                color: @white;
                &:before {
                    opacity: 1;
                    border-top-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
            }
        }        
    }

    &__phone {
        font-size: 16px;
        font-weight: 600;
        font-family: @manrope;
        margin-top: 18px;
    }

    .burger {
        display: none;
        position: relative;
        width: 24px;
        height: 18px;
        margin-top: 15px;
        margin-left: 15px;

        span {
            width: 100%;
            height: 2px;
            background-color: @white;
            transition: 0.3s;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: 0.3s;
            transform: rotate(0);
            opacity: 1;
            
            &:nth-of-type(1) {
                bottom: auto;
            }

            &:nth-of-type(3) {
                top: auto;
            }
        }

        &.active {
            span {
                &:nth-of-type(1) {
                    transform: rotate(45deg);
                    bottom: 0;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }
    
                &:nth-of-type(3) {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }

    &_page {
        position: static;
        background-color: @gray;
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.22);       
        position: relative;   

        .header__wrap {
            padding: 19px 0;
        }

        .header__menu {
            color: @darkText;
            margin: 18px 106px 0 auto;
            
            &-item {
                &:not(:last-of-type) {
                    margin-right: 61px;
                }

                &.current {
                    a {
                        color: @white;

                        &:before {
                            opacity: 1;
                            border-top-left-radius: 12px;
                            border-bottom-right-radius: 12px;
                        }
                    }
                }
            }

            a {
                position: relative;
                z-index: 2;
                color: @darkText;
                transition: 0.3s;

                &:before {
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: -12px;
                    width: 100%;
                    height: 100%;
                    background-color: @violet;
                    z-index: -1;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 0;
                    width: calc(100% + 25px);
                    height: calc(100% + 7px);
                    pointer-events: none;
                    opacity: 0;
                    transition: 0.3s;
                }

                &:hover {
                    color: @white;
                    &:before {
                        opacity: 1;
                        border-top-left-radius: 12px;
                        border-bottom-right-radius: 12px;
                    }
                }
            }
        }

        .header__phone {
            color: @darkText;
            margin-top: 22px;
        }

        .burger {
            margin-top: 20px;
            span {
                background-color: @darkText;
            }

            &.active {
                span {
                    background-color: @white;
                }
            }
        }

    }
}

@media screen and (max-width: 1200px) {
    .header { 
        &__menu {
            font-size: 14px;
            margin: 14px 106px 0 auto;

            &-item {
                &:not(:last-of-type) {
                    margin-right: 61px;
                }
            }
        }

        &__phone {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        .logo {
            max-width: 105px;
        }

        &__menu {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            width: 80%;
            min-height: 100vh;
            max-height: 100vh;
            overflow: auto;
            background-color: #1d1a1f;
            margin: 0;
            font-size: 20px;
            padding: 75px 40px;

            &-item {
                &:not(:last-of-type) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }

        }

        &__phone {
            margin-left: auto;
        }

        .burger {
            display: block;
        }

        &_page {
            .header__menu {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                width: 80%;
                min-height: 100vh;
                max-height: 100vh;
                overflow: auto;
                background-color: #1d1a1f;
                margin: 0;
                font-size: 20px;
                padding: 75px 40px;
    
                &-item {
                    &:not(:last-of-type) {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }

                a {
                    color: @white;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__wrap {
            padding: 15px 0;
        }

        &_page {
            .header__wrap {
                padding: 15px 0;
            }
        }
    }
}